# CLASS-2: 13 OCTOBER 2019

# Conditional statement

```
if
```

### generic syntax

```
if condition:
    print("")
elif condition:
    print("")
elif condition:
    print("")
else:
    print("")
```

# Odd and Even numbers

In [2]:
number = int(input("Enter a number: "))
reminder = number % 2
if reminder == 0:
    print("The entered number is EVEN: ",number)
else:
    print("The entered number is ODD: ",number)

Enter a number: 17
The entered number is ODD:  17

# Grading Program
```
< 35 - fail
>= 36 - 75 - pass
>= 76 - 100 - distinction
```

In [3]:
marks = int(input("enter the mark in integer number: "))
if marks < 0 or marks > 100:
    print("Invalid input")
elif marks <=35:
    print("Fail")
# elif marks >=36 and marks <=75:
elif marks <=75:
    print("Pass")
else:
    print("Distinction")

enter the mark in integer number: 90
Distinction

# Loops
```
for
while
```

```
for - 
[1,25,25,78,47] - List
(15,15,78,98,58) - Tuple
{15,16,17,18 } - Set
{"A":1,"B":2} - Dictionary
"Python" - string
```
```
while
```

# print multiplication table of 85 upto 15 times

#### Not a good coding practice
```
print(85 * 1)
print(85 * 2)
print(85 * 3)
print(85 * 4)
...
print(85 * 15)
```

In [5]:
count = 1
while count <= 15:
    print(85*count)
    count += 1
print("Mutiplication is over")

85
170
255
340
425
510
595
680
765
850
935
1020
1105
1190
1275
Mutiplication is over

In [6]:
# for var in range(1,16,1):
for var in range(1,16):
    print(85*var)
print("Multiplication is over")

85
170
255
340
425
510
595
680
765
850
935
1020
1105
1190
1275
Multiplication is over

# Fibonacci Series
```
0
1
1
2
3
5
8
13
21
34
55
89
```

In [7]:
# Best coding practice for Fibonacci Series
number_a = 0
number_b = 1

print(number_a)
print(number_b)

while number_a + number_b < 100:
    number_c = number_a + number_b
    print(number_c)
    
    number_a = number_b
    number_b = number_c

0
1
1
2
3
5
8
13
21
34
55
89

# break, continue and else in loops

# in

In [8]:
88 in [1,5,6]

False

In [9]:
88 in ["der",5,6]

False

In [10]:
"v" in "vtvt"

True

In [13]:
88 in {1,5,6}

False

In [14]:
88 in (1,5,6)

False

In [21]:
"A" in {"A":1,"B":5,"C":6}

True

In [24]:
"D" in {"A":1,"B":5,"C":6}

False

# continue in loops

In [25]:
employees = [1,2,3,4,5,6,7,8,9,10]
excluded_emp = [5,7,8]

for current_emp in employees:
    if current_emp in excluded_emp:
        continue
        
    print("Transfer Bonus to Employee --> ", current_emp)

Transfer Bonus to Employee -->  1
Transfer Bonus to Employee -->  2
Transfer Bonus to Employee -->  3
Transfer Bonus to Employee -->  4
Transfer Bonus to Employee -->  6
Transfer Bonus to Employee -->  9
Transfer Bonus to Employee -->  10

# break in loops

In [26]:
# keep taking input from user untill he enters end
while True:
    data = input("Please enter something ")
    print(data)
    
    if data == "end": # keep taking input from user untill he enters end
        break
print("outside while loop")

Please enter something Hi
Hi
Please enter something Learnbay
Learnbay
Please enter something End
End
Please enter something end
end
outside while loop

# else in loops

In [27]:
employees = [1,2,3,4,5,6,7,8,-9,10,0]
# employees = [1,2,3,4,5,6,7,8,9,10]

for current_emp in employees:
    if current_emp <= 0:
        break 
    print("Transfer Bonus to Employee --> ", current_emp)
else:
    print("Success Execution, No Faulty Data Found")

Transfer Bonus to Employee -->  1
Transfer Bonus to Employee -->  2
Transfer Bonus to Employee -->  3
Transfer Bonus to Employee -->  4
Transfer Bonus to Employee -->  5
Transfer Bonus to Employee -->  6
Transfer Bonus to Employee -->  7
Transfer Bonus to Employee -->  8

In [28]:
# employees = [1,2,3,4,5,6,7,8,-9,10,0]
employees = [1,2,3,4,5,6,7,8,9,10]

for current_emp in employees:
    if current_emp <= 0:
        break 
    print("Transfer Bonus to Employee --> ", current_emp)
else:
    print("Success Execution, No Faulty Data Found")

Transfer Bonus to Employee -->  1
Transfer Bonus to Employee -->  2
Transfer Bonus to Employee -->  3
Transfer Bonus to Employee -->  4
Transfer Bonus to Employee -->  5
Transfer Bonus to Employee -->  6
Transfer Bonus to Employee -->  7
Transfer Bonus to Employee -->  8
Transfer Bonus to Employee -->  9
Transfer Bonus to Employee -->  10
Success Execution, No Faulty Data Found

# range

In [29]:
count = 1
while count <= 15:
    print(85*count)
    count += 1

print("Mult is over")

85
170
255
340
425
510
595
680
765
850
935
1020
1105
1190
1275
Mult is over

In [30]:
# range - list start to end-1 with step size. All parameters seperated by coma.
for each in range(2,11,2):
    print(each)

2
4
6
8
10

In [31]:
some_list = list(range(10,50,2))
print(some_list)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

# zip and zip longest

# Zip

In [32]:
science_marks = [54,95,64,64]
maths_marks = [58,78,98,57]

for marks_1, marks_2 in zip(science_marks, maths_marks):
    total = marks_1 + marks_2
    
    if total > 150:
        print("Qualified")

Qualified
Qualified

In [36]:
science_marks = [54,95,64,64]
maths_marks = [58,78,98,57]
social_marks = [38,48,68,47]

for marks_1,marks_2,marks_3 in zip(science_marks,maths_marks,social_marks):
    total =  marks_1 + marks_2 + marks_3
    
    if total > 200:
        print("Qualified")
    else:
        print("Not Qualified")

Not Qualified
Qualified
Qualified
Not Qualified

In [37]:
science_marks = [54,95,64,64,78]
maths_marks = [58,78,98,57]

for marks_1, marks_2 in zip(science_marks, maths_marks):
    print(marks_1, marks_2)

54 58
95 78
64 98
64 57

In [38]:
from itertools import zip_longest

In [42]:
science_marks = [54,95,64,64,78,58,78,98]
maths_marks = [58,78,98,57]

# for marks_1, marks_2 in zip(range(0,10), range(10,25)):
for marks_1, marks_2 in zip(science_marks, maths_marks):
    print(marks_1, marks_2)

54 58
95 78
64 98
64 57

In [43]:
science_marks = [54,95,64,64,78,58,78,98]
maths_marks = [58,78,98,57]

# for marks_1, marks_2 in zip_longest(range(0,10), range(10,25)):
for marks_1, marks_2 in zip_longest(science_marks, maths_marks):
    print(marks_1, marks_2)

54 58
95 78
64 98
64 57
78 None
58 None
78 None
98 None

In [44]:
science_marks = [54,95,64,64,78,58,78,98]
maths_marks = [58,78,98,57]

for marks_1, marks_2 in zip_longest(range(0,10), range(10,25)):
# for marks_1, marks_2 in zip_longest(science_marks, maths_marks):
    print(marks_1, marks_2)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19
None 20
None 21
None 22
None 23
None 24

# Assignment

# Take input from user and print multiplication table of the input number using for loop and range.

In [50]:
user_input = int(input("Enter the interger number: "))
for var in range(1,user_input+1):
    print(user_input*var)

Enter the interger number: 10
10
20
30
40
50
60
70
80
90
100

In [53]:
user_input = int(input("Enter the interger number: "))
final = []
for var in range(1,user_input+1):
#     vvk = list([user_input*var])
    vvk = user_input*var
    final.append(vvk)
print(final)
# final = tuple(final)
# print(final)
# print(final[2])

Enter the interger number: 10
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [54]:
user_input = int(input("Enter the interger number: "))
final = []
for var in range(1,user_input+1):
    vvk = user_input*var
    final.append(vvk)
# print(final)
final

Enter the interger number: 10

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Using range function print number from 100 to 1

In [55]:
data = []
for num in range(100,0,-1):
    data.append(num)
print(data)
# data

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Code to print
``` 
* * * * * 
* * * * *
* * * * *
* * * * *
```

In [56]:
for r in range(5):
    print("* " * 5)
    r += 1

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

#  Code to print
```
*
* *
* * *
* * * *
* * * * *
```

In [57]:
for var in range(6):
    print("* "*var)

*
* *
* * *
* * * *
* * * * *

# Test for Prime.
    - Take input from user, and output True if its prime, False otherwise.

In [71]:
# Python program to check if given number is prime or not 
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, num//2):
        if (num % i) == 0:
            print(num, "is noT a prime number")
            break
    else:               #INDENTATION MAINTANING IS CRUCIAL TO GET RIGHT OUTPUT
        print(num, "is a prime number")
else:
    print(num, "is NOT a prime number")

Enter a number: 77
77 is noT a prime number

# All Prime
    - Print all prime number between 10 - 500

In [67]:
number = int(input("Enter the integer value: "))
def is_prime(number):
    for each in range (2,number):
        if number % each == 0:
            return False
        return True
for each in range(2,number):
    print(each, is_prime(each))

Enter the integer value: 10
2 None
3 True
4 False
5 True
6 False
7 True
8 False
9 True

In [68]:
#Individual number prime testing here BREAK statement is crucial
number1 = int(input("Enter a numer: "))
if number1 > 1:
    for i in range(2,number1//2):
        if number1 % i == 0:
            print(number1,"is noT a prime")
            break
    else:
        print(number1,"is a prime")
else:
    print(number1,"is Not a prime")

Enter a numer: 77
77 is noT a prime

In [72]:
#Print all prime number between 10 - 500
number = int(input("Enter the integer value: "))
def is_prime(number):
    for each in range(2,number):
        if number % each == 0:
            return False
        return True
for test in range(10,number):
    print(test, is_prime(test))

Enter the integer value: 20
10 False
11 True
12 False
13 True
14 False
15 True
16 False
17 True
18 False
19 True

# CLASS-2: 13 OCTOBER 2019