# CLASS-1: 19 OCTOBER 2019

# Sequences

* List
* Tuple
* String

In [3]:
my_string = "Nishant Gautam"
my_list = [1,2,3,4,5] # mutable
my_tuple = (10,20,30,40,50) # immutable and tuple is faster than list

# Slicing
```example[start, end, by]```

In [4]:
example = "computer"

In [5]:
print(example[7]) # fetch a single element
print(example[1:4]) # fetches a sequence
print(example[1:] )# sequence till end
print(example[:5]) # sequence from begining
print(example[-1]) # gets the last elemet
print(example[-3:]) # from last 3rd to end
print(example[:-2]) # from beg to last 2nd
print(example[0:7]) # 
print(example[7:0:-1]) # goes in reverse dicrection
print(example[0:8:2]) # prints every 2nd charecter

r
omp
omputer
compu
r
ter
comput
compute
retupmo
cmue

In [7]:
x = "Hello " + "People "
x
# print(x)

'Hello People '

In [8]:
a = [1,2,3]
b = [4,5]
# a + b
print (a+b)

[1, 2, 3, 4, 5]

In [9]:
a[1] = 99
a

[1, 99, 3]

In [10]:
x = (1,2,3)
y = (4,5)
x + y

(1, 2, 3, 4, 5)

In [12]:
"Good " * 5

'Good Good Good Good Good '

In [13]:
[1,2] * 5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [14]:
(1,2) * 3

(1, 2, 1, 2, 1, 2)

# membership

In [15]:
100 in [10,20,30]

False

In [16]:
"ug" in "bug"

True

# useful

- min and max
- len
- sorted
- count
- index

In [17]:
min([1,5,8])

1

In [18]:
min((99,6,55))

6

In [19]:
min("data")

'a'

In [20]:
max([8,77,9])

77

In [21]:
max(['X','x'])

'x'

In [22]:
x = "hippo"
x.count('p')

2

In [23]:
my_list

[1, 2, 3, 4, 5]

In [24]:
my_list.index(3)

2

In [25]:
tup = (66,77,88,99)
# tup
print(tup)

(66, 77, 88, 99)

In [26]:
tup.index(88)

2

In [27]:
tup[1]

77

In [28]:
len(tup)

4

In [29]:
tup.count(77)

1

In [30]:
tup1 = (88,99,66,77)

In [31]:
sorted(tup1)

[66, 77, 88, 99]

In [32]:
tup1

(88, 99, 66, 77)

In [47]:
tup1.sort() # Note sort() function not available with tuple check with shift tab

AttributeError: 'tuple' object has no attribute 'sort'

In [35]:
list_ = [88,7,99,55]

In [37]:
sorted(list_)

[7, 55, 88, 99]

In [38]:
list_

[88, 7, 99, 55]

In [45]:
list_.sort()

In [46]:
list_

[7, 55, 88, 99]

In [48]:
l = [65,3,6,9,2,1]

In [49]:
l.sort()
l

[1, 2, 3, 6, 9, 65]

In [50]:
l

[1, 2, 3, 6, 9, 65]

In [51]:
l.append(55)
l

[1, 2, 3, 6, 9, 65, 55]

# Lists

In [52]:
marks = [55,75,88,93,78]
bonus_marks = 5
updated_marks = []
# make use of append
# syntax = list_name.append(element)

for current_marks in marks:
    updated_marks.append(current_marks + bonus_marks)
    
print(updated_marks)

[60, 80, 93, 98, 83]

In [55]:
marks = [55,75,88,93,78]
bonus_marks = [3,5,8,7,8]
updated = []
for current_marks, current_bonus in zip(marks,bonus_marks):
    updated.append(current_marks+current_bonus)
print(updated)

[58, 80, 96, 100, 86]

# list comprehension

In [54]:
marks = [55,75,88,93,78]
bonus_marks = 5
# [logic or operation for variable in list]
new_marks = [current_marks + bonus_marks for current_marks in marks]
new_marks
# print(new_marks)

[60, 80, 93, 98, 83]

In [56]:
marks = [55,75,88,93,78]
bonus_marks = [3,5,8,7,8]
updated = [current_marks + current_bonus for current_marks, current_bonus in zip(marks,bonus_marks)]
# updated
print(updated)

[58, 80, 96, 100, 86]

In [57]:
new = [current_marks + current_bonus for current_marks, current_bonus in zip(marks, bonus_marks)]

# isnumeric - True is you pass integer value else False

In [59]:
a="556677s"
# print(a.isnumeric())
a.isnumeric()

False

In [60]:
a="556677"
print(a.isnumeric()) #is numeric is a built in function

True

In [61]:
Squre_even_nos_list = [number**2 for number in range(11) if number%2 == 0]
Squre_even_nos_list

[0, 4, 16, 36, 64, 100]

In [62]:
[number**2 for number in range(10,20) if number%2 == 0 ]

[100, 144, 196, 256, 324]

In [63]:
[number**2 for number in range(10,20)]

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

# enumerate

In [65]:
marks = [55,75,88,93,78]
count = 0
for current_marks in marks:
    print(current_marks, " is at position => ", count)
    count = count + 1

55  is at position =>  0
75  is at position =>  1
88  is at position =>  2
93  is at position =>  3
78  is at position =>  4

In [66]:
for position, current_marks in enumerate(marks):
    print(current_marks, " is at position => ", position)

55  is at position =>  0
75  is at position =>  1
88  is at position =>  2
93  is at position =>  3
78  is at position =>  4

# zip and enumerate

In [67]:
my_tuple

(10, 20, 30, 40, 50)

In [68]:
a,b,c,d,e = my_tuple # unpacking

In [69]:
my_tuple = (1,(2,3))
a,(b,c) = my_tuple

In [74]:
my_tuple[1][0]

2

In [75]:
marks

[55, 75, 88, 93, 78]

In [76]:
bonus_marks

[3, 5, 8, 7, 8]

In [77]:
for index, (cu_ma, cu_bo) in enumerate(zip(marks, bonus_marks)):
    print(index, cu_ma, cu_bo)

0 55 3
1 75 5
2 88 8
3 93 7
4 78 8

# Read about useful functions for list
- del
- append
- extend
- insert
- pop
- remove
- reverse
- sort
- sorted
- clear

In [78]:
w = [1,2,3,4,5,6]
w

[1, 2, 3, 4, 5, 6]

In [79]:
del w[1] # deleted using index
w

[1, 3, 4, 5, 6]

In [80]:
w.append(8) # adds objects at the last in the list/tuple/dict/set
w

[1, 3, 4, 5, 6, 8]

In [81]:
del w[7]
w

IndexError: list assignment index out of range

In [83]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
# l1.extend(l2) #take argument of another list or tuple
# l1
l2.extend(l1) #take argument of another list or tuple
l2

[5, 6, 7, 8, 1, 2, 3, 4]

In [84]:
w

[1, 3, 4, 5, 6, 8]

In [85]:
w.insert(1,2) #list_name.insert(index, element)
w

[1, 2, 3, 4, 5, 6, 8]

In [86]:
w.pop(0) #removes lost elemet if argument is not given
w

[2, 3, 4, 5, 6, 8]

In [87]:
w.remove(7)
w

ValueError: list.remove(x): x not in list

In [88]:
w.remove(8)
w

[2, 3, 4, 5, 6]

In [89]:
w.reverse()
w

[6, 5, 4, 3, 2]

In [90]:
w.clear()
w

[]

# Print common elements between two list
- use regular for loop
- use list comprehension
- ```[1,2,3,4,5,6] & [1,3,5,7,9,11]```

In [91]:
l1 = [1,2,3,4,5,6]
set1 = set(l1)
print(set1)
l2 = [1,3,5,7,9,11]
set2 = set(l2)
print(set2)
print ("Common elements between two sets: ", set1 & set2) # intersection
print ("Union of elements between two sets: ", set1 | set2) # union
print ("symmetric difference of elements between two sets: ", set1 ^ set2) # symmetric difference

{1, 2, 3, 4, 5, 6}
{1, 3, 5, 7, 9, 11}
Common elements between two sets:  {1, 3, 5}
Union of elements between two sets:  {1, 2, 3, 4, 5, 6, 7, 9, 11}
symmetric difference of elements between two sets:  {2, 4, 6, 7, 9, 11}

# Create a variable like below and play around with it:

```
matrix = [[1,2,3],[4,5,6],[7,8,9]]
```
- write a for loop
- try to access elements

In [93]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix)
# matrix
type(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

list

In [94]:
matrix[1]

[4, 5, 6]

In [95]:
matrix[1][2]

6

# list vs tuple

In [96]:
import sys
name_my = "Vitthal Konaraddi"
sys.getsizeof(name_my)

66

In [97]:
dir(sys)

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '_base_executable',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_enablelegacywindowsfsencoding',
 '_framework',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'api_version',
 'argv',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'callstats',
 'copyright',
 'displayhook',
 'dllhandle',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_coroutine_wrapper',
 'getallocatedblocks',
 'getcheckinterval',
 'getdefaultencoding',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'getwindowsversion',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'last_traceback',
 'last_type',
 'last_value',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_coroutine_wrapper',
 'setcheckinterval',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'version',
 'version_info',
 'warnoptions',
 'winver']

In [98]:
import sys
my_name = "Nishant Gautam"
sys.getsizeof(my_name)

63

In [99]:
a = (112.25,254.0,3.5)
b = [112.25,254.0,3.5]
print(sys.getsizeof(a))
print(sys.getsizeof(b))

72
88

In [100]:
my_list

[1, 2, 3, 4, 5]

In [101]:
from timeit import timeit
timeit(stmt="my_list=[1,2,3,4,5]", number = 100000000)

35.78906949999964

In [102]:
my_tuple = (1,2,3,4,5)
my_tuple

(1, 2, 3, 4, 5)

In [103]:
from timeit import timeit
timeit(stmt="my_tuple = (1,2,3,4,5)", number = 100000000)

6.441604699999516

# Set and Dictionary

In [104]:
my_list = [1,1,2,2,3]
my_set = {1,1,2,2,3}

In [105]:
my_list

[1, 1, 2, 2, 3]

In [106]:
my_set

{1, 2, 3}

In [109]:
my_list = [1,1,2,2,3,4,4,5] * 2000
# print(my_list)
unique_values = set(my_list)
unique_values

{1, 2, 3, 4, 5}

# Useful to convert interchangeably
```
list()
tuple()
set()
```

In [110]:
for each in unique_values:
    print(each)

1
2
3
4
5

In [113]:
con_lis = []
for each in unique_values:
    print(each)
    con_lis.append(each)
con_lis

1
2
3
4
5

[1, 2, 3, 4, 5]

# CLASS-1: 19 OCTOBER 2019