# List

In [39]:
## syntax
mylist_ = []
mylist = [3,4,5,6,7,8,'rama',6.5,[2,1,4,5],(3,4,6,7)]

In [42]:
### access elements of the list
mylist[6]

'rama'

In [46]:
mylist[9][1]

4

In [48]:
## negative indexing 
mylist[-2]

[2, 1, 4, 5]

In [ ]:
## access multiple items/elements at a time/ranges of indexes or slicing
mylist[start:end]
mylist[start:]
mylist[:end]

In [49]:
mylist = [3,4,5,6,7,8,'rama',6.5,[2,1,4,5],(3,4,6,7)]
mylist[3:6]

[6, 7, 8]

In [50]:
mylist[3:5]

[6, 7]

In [51]:
mylist[3:]

[6, 7, 8, 'rama', 6.5, [2, 1, 4, 5], (3, 4, 6, 7)]

In [52]:
mylist[:6]

[3, 4, 5, 6, 7, 8]

In [56]:
## ranges with negative indexes
mylist[-3:-1]

[6.5, [2, 1, 4, 5]]

In [62]:
### change item value
mylist = [3,4,5,6,7,8,'rama',6.5,[2,1,4,5],(3,4,6,7)]
mylist[6] = 'harry'

In [63]:
mylist

[3, 4, 5, 6, 7, 8, 'harry', 6.5, [2, 1, 4, 5], (3, 4, 6, 7)]

In [ ]:
###'+','*'

In [66]:
### add new items in the existing list
mylist2 = [1,2,34,56,86,52,21,8,3,6,3]
## add a value 5 using append
mylist2.append(5)
mylist2

[1, 2, 34, 56, 86, 52, 21, 8, 3, 6, 3, 5]

In [67]:
## add a value 4 at position 3rd 
mylist2.insert(2,4)
mylist2

[1, 2, 4, 34, 56, 86, 52, 21, 8, 3, 6, 3, 5]

In [68]:
## add insert multiple values at the end: (0,9,1)
mylist2.extend([0,9,1])
mylist2

[1, 2, 4, 34, 56, 86, 52, 21, 8, 3, 6, 3, 5, 0, 9, 1]

In [70]:
mylist2 = mylist2 + [3,4,5]
mylist2

[1, 2, 4, 34, 56, 86, 52, 21, 8, 3, 6, 3, 5, 0, 9, 1, 3, 4, 5]

In [72]:
mylist2.extend('hello')
mylist2

[1,
 2,
 4,
 34,
 56,
 86,
 52,
 21,
 8,
 3,
 6,
 3,
 5,
 0,
 9,
 1,
 3,
 4,
 5,
 'h',
 'e',
 'l',
 'l',
 'o',
 'h',
 'e',
 'l',
 'l',
 'o']

In [ ]:
### 
    - append
    - extend
    - insert
    - +,*
    - min, max, sum, mean, sort
    - remove, del, pop
    - len

In [91]:
mylist3 = [1, 2, 4, 34, 56, 86, 52, 21]
mylist3.sort()
mylist3

[1, 2, 4, 21, 34, 52, 56, 86]

In [93]:
import numpy as np
print(min(mylist3))
print(max(mylist3))
print(np.mean(mylist3))
print(sum(mylist3))
sorted(mylist3)

1
86
32.0
256

[1, 2, 4, 21, 34, 52, 56, 86]

In [94]:
## remove an item from list: using remove, del, pop
mylist4 = [1, 2, 4, 34, 56, 86, 52, 21]

In [95]:
## removing an item using value
mylist3.remove(86)   ## removes 86 from the list
print(mylist3)
## removing an item using index
mylist3.pop()       ## removes last element/item from the list
print(mylist3)
## removing multiple values through indexes
del mylist3[:2]    ## removed first two elements from the list
print(mylist3)

[1, 2, 4, 21, 34, 52, 56]
[1, 2, 4, 21, 34, 52]
[4, 21, 34, 52]

In [97]:
mylist

[3, 4, 5, 6, 7, 8, 'harry', 6.5, [2, 1, 4, 5], (3, 4, 6, 7)]

In [100]:
### len
len(mylist)

1

In [115]:
### WAP using list to count occurence of charater 'a' in string 
#  'bangalore'

mystring = []
mystring.extend('bangalore')
mystring.count('a')

2

# Check if item exist

In [116]:
### WAP to print a suitable message
# if charater'a' exists in above list.

### membership operator usage
if 'a' in mystring:
    print('a does exist!!')

a does exist!!

# Loop through a list

In [117]:
### WAP to print to the consol each element above list.
for each in mystring:
    print(each)

b
a
n
g
a
l
o
r
e

In [120]:
# copying a list
mystring_new = mystring.copy()
mystring_new

['b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e']

In [121]:
mylist = [1,2,3,4]
mylist_n = mylist
print(mylist_n)
mylist.append(5)
print(mylist)
print(mylist_n)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

# list comprehension

In [133]:
### WAP to generate a list from range 1 to 10.
# my_dummy_list = []

for e in range(1,11):
    if (e%2==0):
        print(e,e**2)
    
    
print(my_dummy_list)

2 4
4 16
6 36
8 64
10 100
[2, 4, 6, 8, 10]

In [ ]:
### syntax
[<output> for <input variable> in <input series> (<optional>)]

In [132]:
mylist_n = [x for x in range(1,11) if (x%2==0)]
mylist_n

[2, 4, 6, 8, 10]

In [134]:
## returning multiple values through list comprehension
[[x,x**2] for x in range(1,11) if (x%2==0)]

[[2, 4], [4, 16], [6, 36], [8, 64], [10, 100]]

In [139]:
## WAP to design multiplication table using list comprehension.
for i in range(3,5): (2)
    for j in range(1,11): (3)
        if(j%2==0): (4)
            print(i,'*',j,'=',i*j) (1)

3 * 2 = 6
3 * 4 = 12
3 * 6 = 18
3 * 8 = 24
3 * 10 = 30
4 * 2 = 8
4 * 4 = 16
4 * 6 = 24
4 * 8 = 32
4 * 10 = 40

In [3]:
## 
odd_square = [] 
for x in range(1, 11): 
    if(x % 2 != 0): 
        odd_square.append(x**2) 
print (odd_square)

[1, 9, 25, 49, 81]

In [5]:
[x**2 for x in range(1, 11) if (x % 2 == 1)] ## list comprehension

[1, 9, 25, 49, 81]

In [ ]:
syntax:
[<output expression> for <input variable> in <iterables> <conditions if any>]

In [ ]:
#### nonprimes in range 1 t0 100 (nested list comprehension)
for i in range(2, 8):
    for j in range(i*2, 100, i):
        print(j)

In [ ]:
## convert characters in lower case
For each in [‘A’,’B’]:
    print(each.lower())

In [6]:
### 

mylist = [1,2,3,4]
mylist * 4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [7]:
[x*4 for x in mylist]

[4, 8, 12, 16]

In [ ]:
### Advantage1: list comprehensions efficient ways of generating iterables.
### Advantage2: list comprehensions are useful to perform certain operations on the 
# existing lists.

# list generator

In [ ]:
[<expression>] ## comprehension
(<expression>) ## generator

In [10]:
list(x*4 for x in mylist)

[4, 8, 12, 16]

In [21]:
mylist

[1, 2, 3, 4]

In [9]:
[x*4 for x in mylist]

[4, 8, 12, 16]

In [11]:
for i in (x*4 for x in mylist):
    print(i)

4
8
12
16

# Tuple

In [22]:
## tuple syntax:
[2,3,5,6] ## list
(2,3,5,6) ## tuple

(2, 3, 5, 6)

In [25]:
### operations on tuple
list_ = [2,3,5,6]
tup = (2,3,5,6)

In [27]:
tup

(2, 3, 5, 6)

In [31]:
### 
tup = (1,5,6,8,8)
tup

(1, 5, 6, 8, 8)

In [36]:
### Access elements 
tup[4]

8

In [35]:
len(tup)

5

In [37]:
## slicing
tup[1:4]

(5, 6, 8)

In [38]:
## negative indexes
tup[-1]

8

In [40]:
## .count returns occurence of the given item in the tuple
tup.count(8)

2

In [42]:
### .index() returns the position of the given 'item'
tup.index(1)

0

In [43]:
##
for i in tup:
    print(i)

1
5
6
8
8

In [45]:
### 
[i for i in tup]

[1, 5, 6, 8, 8]

In [48]:
mylist

[1, 2, 3, 4]

In [51]:
tup = ()
tup = tuple(mylist)
tup
list(tup)
## objects: list(), tuple()

[1, 2, 3, 4]

# dictionary

In [ ]:
# syntax
mydict = {'key1':'val1',
          'key2':'val2',
          'key3':'val3',
         ......
          'keyN':'valN'}
### 
# 1. keys should be unique; immutable; 
# can be numbers and strings

# 2. values: can be any python type: list, tuple, dictionary

### Another way to create a dictionary using dict()

In [52]:
## create a new list holding user details.

mydic = {'name':['hary','shyama'],
        'age':[24,25],
        'address':{'flat':[2,3],
                  'city':['Bng','pune'],
                  'state':['KA','MH'],
                  'country':['IND','IND']} }

In [53]:
mydic

{'name': ['hary', 'shyama'],
 'age': [24, 25],
 'address': {'flat': [2, 3],
  'city': ['Bng', 'pune'],
  'state': ['KA', 'MH'],
  'country': ['IND', 'IND']}}

In [55]:
### access values using keywords
mydic['address']

{'flat': [2, 3],
 'city': ['Bng', 'pune'],
 'state': ['KA', 'MH'],
 'country': ['IND', 'IND']}

In [59]:
### modify a value
mydic['name'] = ['rama','sham']

In [ ]:
mydic

In [64]:
### 
mydic['name'][1]

'sham'

In [66]:
mydic['address']['flat']

[2, 3]

In [ ]:
for k,v in mydic:

In [71]:
my_list = []
dummy_dict = {'name': 'hary',
 'age': 24,
 'address': {'flat': 2,
  'city': 'pune',
  'state': 'MH',
  'country': 'IND'}}
my_list.append(dummy_dict)

In [68]:
my_list.append(dummy_dict)

In [69]:
my_list

[{'name': 'hary',
  'age': 24,
  'address': {'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'}},
 {'name': 'hary',
  'age': 24,
  'address': {'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'}}]

In [73]:
dummy_dict

{'name': 'hary',
 'age': 24,
 'address': {'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'}}

In [77]:
###  looping through dictionary

for k,v in dummy_dict.items():
    print(k,v)

name hary
age 24
address {'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'}

In [78]:
###  looping through dictionary

for v in dummy_dict.values():
    print(v)

hary
24
{'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'}

In [79]:
###  looping through dictionary

for k in dummy_dict.keys():
    print(k)

name
age
address

In [80]:
dummy_dict.setdefault('default')
dummy_dict['default'] = ''

In [81]:
dummy_dict

{'name': 'hary',
 'age': 24,
 'address': {'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'},
 'default': None}

In [82]:
dummy_dict.setdefault('a')
dummy_dict

{'name': 'hary',
 'age': 24,
 'address': {'flat': 2, 'city': 'pune', 'state': 'MH', 'country': 'IND'},
 'default': None,
 'a': None}

In [128]:

dummy_dict.update({'amount':1232.4})

In [129]:
dummy_dict

{'name': 'mohan',
 'age': 23,
 'address': {'flat': 1, 'city': 'chennai', 'state': 'MH', 'country': 'IND'},
 'default': None,
 'a': '2',
 'amount': 1232.4}

In [95]:
dummy_dict_ = {}
dummy_dict_.update({'name': 'mohan',
 'age': 23,
 'address': {'flat': 1, 'city': 'chennai', 'state': 'MH', 'country': 'IND'},
 'default': None,
 'a': '2'})

In [96]:
dummy_dict_

{'name': 'mohan',
 'age': 23,
 'address': {'flat': 1, 'city': 'chennai', 'state': 'MH', 'country': 'IND'},
 'default': None,
 'a': '2'}

# set

In [106]:
### 
myset = {2,3,4,5,6,0} ## {}
type(myset)
myset_ = set([2,34,4])  ### object set
type(myset_)

set

In [107]:
myset

{0, 2, 3, 4, 5, 6}

In [108]:
myset_

{2, 4, 34}

In [109]:
{2,3,4,5,6,5,0} ## duplicates not allowed

{0, 2, 3, 4, 5, 6}

In [118]:
myset_.add(3)

In [119]:
myset_

{0, 2, 3, 4, 5, 34}

In [120]:
### WAP to find common elements between range(0,10) and range(5,10).

In [127]:
l1 = set(list(range(0,10)))  ## convert list to set
l2 = set(list(range(5,10)))  ## convert list to set
list(l1.intersection(l2))   ## convert set to list after taking common elements

[5, 6, 7, 8, 9]